<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hello</title>
        
    </head>
    <body>
        
        <h1>some problem happen</h1>
        <p>server is now Down</p>
    </body>
    
</html>